{% extends "schedule/base.html" %}
{% load i18n %}
{% load scheduletags i18n %}

{% block extra_head %}
{{ block.super }}

<script>

{% comment %}
var urls = {}

{% for c in calendar %}
urls["{{c.slug}}_create"] = '{% url "create_event" calendar.slug %}';
urls["{{c.slug}}_change"] = '{% url "edit_event" calendar.slug %}';
urls["{{c.slug}}_delete"] = '{% url "delete_event" calendar.slug %}';
{% endfor %}
{% endcomment %}

var create_url = '{% url "create_event" calendar.slug %}';
var change_url = '{% url "edit_event" calendar.slug %}';
var delete_url = '{% url "delete_event" calendar.slug %}';

$(document).ready(function() {
     // page is now ready, initialize the calendar...
    $('#calendar').fullCalendar({
        header : {
            left : 'today prev,next',
            center : 'title',
            right : 'month,agendaWeek,agendaDay'
        },
        slotMinutes : 15,
        //minTime : 0,
        //maxTime : 23,
        height : 650,
        defaultView : 'agendaWeek',
        allDayDefault: false,

        buttonText: {
            today:    '{% trans "Today" %}',
            month:    '{% trans "Month" %}',
            week:     '{% trans "Week" %}',
            day:      '{% trans "Day" %}'
        },

        dayClick : dayClicked,

        eventSources: [
            {
                url: '{% url "ajax_calendar" calendar.slug %}',
                type: 'POST',
                error: function(xhr, status, error) {
                    var err = JSON.parse(xhr.responseText);
                    // TODO: add better AJAX error handling
                    alert('AJAX Error: ' + err);
                },
                color: '{% firstof c.color "blue" %}',
                textColor: '{% firstof c.text_color "white" %}'
            },
        {% comment %}
        {% for c in calendar %}
            {
                url: '{% url "ajax_calendar" c.slug %}',
                type: 'POST',
                error: function(xhr, status, error) {
                    var err = JSON.parse(xhr.responseText);
                    // TODO: add better AJAX error handling
                    alert('AJAX Error: ' + err);
                },
                color: '{% firstof c.color "blue" %}',
                textColor: '{% firstof c.text_color "white" %}'
            },
        {% endfor %}
        {% endcomment %}
        ], 
    })

    $("#id_start_0").datetimepicker({
        altField: "#id_start_1"
    });
    $("#id_end_0").datetimepicker({
        altField: "#id_end_1"
    });
});

</script>

{% comment %}
Output all of the calendar functions as a rendered template. This is so we can enable/disable javascript based on the user's permissions 
This does not excuse us from checking permissions on the backend of course, but from a UX point of view, its better to not let the user 
see the add event box if they don't have any permission to add an event and so on.

TODO: Change the file so it doesn't need to be rendered
{% endcomment %}

<script type="text/javascript">
{{ calendar_functions.content|safe }}
</script>

{% endblock %}

{% block body %}

<div id="newRequest" title="Make Request" style="display:none">
    <form id="makeRequestForm">
        <table>
            {{ event_form.as_table }}
            <tr><td><input type="submit" /></td></tr>
        </table>
    </form>
</div>

{# calendar should always be passed in since I 403 otherwise, but just in case... #}
{% if calendar %}
<div id="calendar"></div>
{% else %}
    {% if request.user %}
    <p class="no_calendar">
    {% blocktrans %}
        You do not have permission to view this calendar. Sorry about that, but try contacting the system administrator if you feel this is in error.
    {% endblocktrans %}
    </p>
    {% else %}
    <p class="no_calendar">
    {% blocktrans %}
        You do not have permission to view this calendar. You can try logging in and see if that helps, or you could also try contacting the system administrator if you feel this is in error.
    {% endblocktrans %}
    </p>
    {% endif %}
{% endif %}
{% endblock %}






{% comment %}

{% block body %}

<h1>Calendar metadata</h1>

<p>Name: {{calendar.name}}</p>
<p>Slug: {{calendar.slug}}</p>
<p>Event count: {{calendar.events.count}}</p>

<div>
    <p>See as:</p>
    <ul>
        <li><a href="{% url "compact_calendar" calendar.slug %}">{% trans "Small Month" %}</a></li>
        <li><a href="{% url "month_calendar" calendar.slug %}">{% trans "1 Month" %}</a></li>
        <li><a href="{% url "tri_month_calendar" calendar.slug %}">{% trans "3 Months" %}</a></li>
        <li><a href="{% url "year_calendar" calendar.slug %}">{% trans "This Year" %}</a></li>
        <li><a href="{% url "week_calendar" calendar.slug %}">{% trans "Weekly" %}</a></li>
        <li><a href="{% url "day_calendar" calendar.slug %}">{% trans "Daily" %}</a></li>
        <li><a href="/schedule/feed/calendar/upcoming/{{ calendar.id }}/">{% trans "Feed" %}</a></li>
    </ul>
</div>

<div><i>{% trans "Now see docstring for schedule.views.calendar" %}</i></div>

{% endblock %}

{% endcomment %}